.poster {
  width: 250px;
  height: 400px;
}
.namebox {
  padding-left: 20px;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  font-family: "굴림";
  color: white;
}
.date {
  width: 50px;
  color: white;
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper {
  width: 250px;
  height: 470px;
  margin: 25px;
  background-color: #373b69;
  border-radius: 5px;
}
.info {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
